.cntdn
{
    text-align: center;
    font-size: 60px;
}

.sch
{
    text-align: center;
    font-size: 60px;   
}

.btn
{
border: 2px solid black;
border-radius: 5px;
background-color: transparent;
color: #0dd68c;
padding: 14px 58px;
font-size: 16px;
cursor: pointer;
border-color: #0dd68c;
}

.btn:hover{
    background-color:#5FBB46;
    color: white;
  }

#font
{
    font-size: 60%;
}

